<xml>
	<Title>Classifier name</Title>

	<DataSet>
		<FileType>Datafile_type</FileType>
		<FileLocation>File_location</FileLocation>
		<NameFileLocation>name_file_location</NameFileLocation>
		<TrainPercentage>70</TrainPercentage>
		<Classes>5</Classes>
	</DataSet>

	<Runs>1</Runs>
	<Generations>100</Generations>
	<MaxRunTime>600</MaxRunTime>
	<PopulationSize>100</PopulationSize>

	<NodeDescription>
		<Head>5</Head>
		<FunctionSet>
			<AddFunction/>
			<SubtractFunction/>
			<MultiplyFunciton/>
			<SafeDivideFunction/>
		</FunctionSet>
	</NodeDescription>

	<NodeLayers>
		<Layer>
			<Nodes>12</Nodes>
		</Layer>
		<Layer>
			<Nodes>10</Nodes>
		</Layer>
	</NodeLayers>

	<CellDescription>
		<Head>5</Head>
		<FunctionSet>
			<AddFunction/>
			<SubtractFunction/>
			<MultiplyFunciton/>
			<SafeDivideFunction/>
		</FunctionSet>
	</CellDescription>

	<Selection>
		<Method>RouletteKeepBest</Method>
		<PercentageKept>50</PercentageKept>
	</Selection>

	<Crossovers>
		<OnePointRecombination probability="1"/>
		<SwapChromosome probability="1"/>
		<CopyParentA probability="1"/>
	</Crossover>
	
	<MutationRate>0.3</MutationRate>
	<Mutators>
		<RandomReplacement probability="1">
		<MakeComplex probability="1"/>
		<HeadInverter probability="1"/>
	</Mutators>

</xml>






