<xml>
	<Title>This is a sample config file</Title>

	<DataSet>
		<FileType>Datafile_type</FileType>
		<FileLocation>/home/mabbo/datasets/</FileLocation>
		<FileName>letter-recognition.data</FileName>
		<TrainPercentage>0.8</TrainPercentage>
		<Description>
			<NumberOfInputs>17</NumberOfInputs>
			<ClassIndex>0</ClassIndex>
			<NumberOfClasses>26</NumberOfClasses>
		</Description>

	</DataSet>

	<Runs>1</Runs>
	<Generations>5000000</Generations>
	<MaxRunTime>600</MaxRunTime>
	<PopulationSize>100</PopulationSize>

	<NodeDescription>
		<Head>3</Head>
		<FunctionSet>
			<AddFunction/>
			<SubtractFunction/>
			<MultiplyFunction/>
			<DivideFunction/>
			<SinFunction/>
			<CosFunction/>
			<MaxFunction/>
			<SigmoidFunction/>
		</FunctionSet>
	</NodeDescription>

	<NodeLayers>
		<Layer>
			<Nodes>26</Nodes>
		</Layer>
	</NodeLayers>

	<CellDescription>
		<Head>4</Head>
		<FunctionSet>
			<AddFunction/>
			<SubtractFunction/>
			<MultiplyFunction/>
			<DivideFunction/>
			<SinFunction/>
			<CosFunction/>
			<MaxFunction/>
			<SigmoidFunction/>
		</FunctionSet>
	</CellDescription>

	<Selection>
		<Method>SimpleElitism</Method>
		<PercentageKept>0.70</PercentageKept>
	</Selection>

	<Crossovers>
		<OnePointRecombination weight="9"/>
		<CopyParentA weight="1"/>
	</Crossovers>
	
	<MutationRate>0.3</MutationRate>
	<Mutators>
		<RandomReplacement weight="1"/>
	</Mutators>

</xml>






