<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<xml>
    <Title>This is a sample config file</Title>
    <Runs>1</Runs>
    <Generations>100</Generations>
    <PopulationSize>250</PopulationSize>
    <DataSet>
        <File>/home/mabbo/datasets/letter-recognition.data</File>
        <DataSetLoader builtin="NumericalDataSetLoader" parameters="ClassIndex=0"/>
        <TrainPercentage>0.8</TrainPercentage>
        <NumberOfInputs>17</NumberOfInputs>
        <NumberOfClasses>26</NumberOfClasses>
    </DataSet>
    <NodeDescription>
        <Head>3</Head>
        <FunctionSet>
            <Function builtin="AddFunction"/>
            <Function builtin="SubtractFunction"/>
            <Function builtin="MultiplyFunction"/>
            <Function builtin="DivideFunction"/>
            <Function classfile="SineFunction" location="/home/mabbo/GEPClassifier/ExternalLibs/bin/"/>
            <Function classfile="CosFunction" location="/home/mabbo/GEPClassifier/ExternalLibs/bin/"/>
        </FunctionSet>
        <RNC>10</RNC>
    </NodeDescription>
    <NodeLayers>
        <Layer>
            <Nodes>20</Nodes>
        </Layer>
    </NodeLayers>
    <Fitness builtin="AddOneOnCorrect"/>
    <Selection builtin="BasicElitism"/>
    <MutationRate>0.5</MutationRate>
    <Mutators>
        <Mutator builtin="RandomReplacement" weight="1"/>
        <Mutator builtin="RandomizeGene" weight="1"/>
        <Mutator classfile="Complexify" location="/home/mabbo/GEPClassifier/ExternalLibs/bin" weight="2"/>
    </Mutators>
    <Crossovers>
        <Crossover builtin="OnePointPerLayer" weight="3"/>
        <Crossover builtin="CopyParentA" weight="3"/>
    </Crossovers>
    <Processes>
        <StartProcesses/>
        <EndProcesses/>
        <BeforeRunProcesses>
            <Process builtin="OutputConfig"/>
        </BeforeRunProcesses>
        <EndRunProcesses>
            <Process builtin="OutputBestScore"/>
        </EndRunProcesses>
        <BeforeGenerationProcesses/>
        <EndGenerationProcesses>
            <Process builtin="OutputBestScore"/>
            <Process classfile="ModulatingMutation" location="/home/mabbo/GEPClassifier/ExternalLibs/bin"/>
        </EndGenerationProcesses>
    </Processes>
</xml>
