<xml>
	<Title>This is a sample config file</Title>

	<DataSet>
		<FileLocation>/home/mabbo/datasets/</FileLocation>
		<FileName>letter-recognition.data</FileName>
		<DataSetLoader location="bin/" classfile="builtin.NumericalDataSetLoader" />
		<TrainPercentage>0.8</TrainPercentage>
		<Description>
			<NumberOfInputs>17</NumberOfInputs>
			<ClassIndex>0</ClassIndex>
			<NumberOfClasses>26</NumberOfClasses>
		</Description>
	</DataSet>

	<Runs>1</Runs>
	<Generations>100</Generations>
	<MaxRunTime>600</MaxRunTime>
	<PopulationSize>250</PopulationSize>

	<NodeDescription>
		<Head>3</Head>
		<FunctionSet>
			<Function classfile="builtin.AddFunction" />
			<Function classfile="builtin.SubtractFunction" />
			<Function classfile="builtin.MultiplyFunction" />
			<Function classfile="builtin.DivideFunction" />
			<Function location="/home/mabbo/GEPClassifier/ExternalLibs/bin"
				  classfile="SineFunction" />
			<Function location="/home/mabbo/GEPClassifier/ExternalLibs/bin"
				  classfile="CosFunction" />
		</FunctionSet>
		<RNC>10</RNC>
	</NodeDescription>

	<NodeLayers>
		<Layer><Nodes>20</Nodes></Layer>
	</NodeLayers>

	<Fitness classfile="builtin.AddOneOnCorrect" />

	<Selection classfile="builtin.BasicElitism" keep="0.7" />

	<Crossovers>
		<Crossover classfile="builtin.OnePointPerLayer" weight="3"/>
		<Crossover classfile="builtin.CopyParentA" weight="3"/>
	</Crossovers>
	
	<MutationRate>0.5</MutationRate>
	<Mutators>
		<Mutator classfile="builtin.RandomReplacement" weight="1" />
		<Mutator classfile="builtin.RandomizeGene" weight="1" />
		<Mutator location="/home/mabbo/GEPClassifier/ExternalLibs/bin"
			  classfile="Complexify" weight="2" />
	</Mutators>


	<BeforeRunProcesses>
		<BeforeRunProcess classfile="builtin.OutputConfig" />
	</BeforeRunProcesses>

	<GenerationProcesses>
		<GenerationProcess classfile="builtin.OutputBestScore" />
		<GenerationProcess classfile="ModulatingMutation" 
			location="/home/mabbo/GEPClassifier/ExternalLibs/bin"/>
	</GenerationProcesses>

	<RunProcesses>
		<RunProcess classfile="builtin.OutputBestScore" />
	</RunProcesses>


</xml>






